:root {
	--vermelho: #E80812;
	--preto: #000000;
	--branco: #E5E5D7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background-color: var(--preto);
	font-family: "Arial", Times, Serif;
	color: var(--branco);
}

/*BARRA HORIZONTAL TOPO*/
header .top_bar {
  display: flex;
  flex-direction: row;
  height: 6vw;
  width: 100%;
  justify-content: space-between; 
  align-content: center;
  position: fixed;
  top:0px;
  background-color: var(--preto);
  z-index:9999;

}

header .top_bar .menu .logo {
    height: 100%;
}

header .top_bar .menu a{
	text-decoration: none;
	color: var(--branco);
	margin-left:10px;
	vertical-align: middle;
}

header .top_bar .others .user_photo {
	width: 3vw;
	height: 3vw;
	border-radius: 50%;
	cursor:pointer;
}

header .top_bar .others {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
  justify-content:space-around;
  flex-basis: 30%;
}

header .top_bar .others .search{
	display: flex;
	flex-direction: row;
}

.header_button {
	border: none;
	background-color: var(--preto);
	color: var(--branco);
	cursor: pointer;
}

/*DROPDOWN*/
.dropdown {
	position: relative;
	display: inline-block;

}

.dropdown_content {
	display: none;
	position: absolute;
	background-color:rgba(0,0,0,.5);
	right:0;
	min-width: 400px;
	box-shadow:0px 12px 16px 0px rgba(0,0,0,.3);
	padding:10px;
	color: var(--branco);
	z-index: 1;
    overflow-x:hidden;
	overflow-y:auto;
    max-height: 300px;


}

.dropdown:hover .dropdown_content{
  display:block;
  
}


.img_news {
    height: 80px;
	border-radius: 5%;
	padding-right: 15px;
}

tr td a{
  text-decoration: none;
  color: var(--branco);
}

td {
	border-bottom: solid 1px var(--branco);
	padding: 5px 0;
}

tr:hover {
	background-color:rgba(0,0,0,.8);

}

/*Search form*/
.search_box {
	display: inline-block;
	position: relative;
	text-indent: 30px;
	background-image: url(../img/search_icon.png);
	background-repeat: no-repeat;
    background-size: 25px;
	background-position: 3px 3px;
    background-color: transparent;
	color:var(--branco);
	border: 1px solid transparent;
	height: 5vh;
	width: 30px	;
	transition: all .5s ease;
	color: var(--branco);
	cursor:pointer;
}

.search_box:focus {
	border: 1px solid var(--branco);
	width: 200px;
}



/*MAIN*/
main {
  background-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,.5)), url('../img/thewitcher_main.jpg');
  background-size:cover;
  height:100vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_film .main_film_title {
	font-size: 40px;
}

.main_film .main_film_text {
    padding:30px 30px 30px 0;    
	font-size: 15px;
}

.main_film .container {
	
	width: 60%;
	margin-left:30px;
}

.main_film button{
	background-color: var(--branco);
	color: var(--preto);
	border:none;
	margin-left: 15px;
	padding: 10px 15px;
	border-radius: 5%;
	font-weight:bold;
	font-size: 15px;
	transition: .3s ease;
}

.main_film button i{
    margin-right:10px;
}

.main_film button:hover {
	opacity: 0.7;
}

/*PAGINA*/

.page_title {
	margin: 20px;
}

.img_series {
	/*width: 20vw;*/
	border-radius: 3%;
}


/*.owl-carousel {
    z-index: -1;
}*/

/*.item {
	z-index:1;
}*/

.item:hover {
	
	margin:10px;
	z-index:5;
}

/*div.series .container {
	position: relative;

}*/

/*RESPONSIVIDADE*/

@media screen and (max-width: 800px) {

header .top_bar {
  display: flex;
  flex-direction: column;  
  height: 15vw;
  align-items: flex-start;
  justify-content: center;

}

header .top_bar .menu .logo {
    height: 6vw;
}

header .top_bar .menu {
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

header .top_bar .others {
  width: 100%;
}
}

@media screen and (max-width: 540px) {
	
main .main_film .container .botoes button {
	margin: 15px;
}
}